* {
      margin: 0;
      padding: 0;
  }
  
  body {
      background-image: url('img/background.jpg');
      height: 100%;
      font-family: "Comfortaa";
      font-size: 12.5px;
      font-weight: 800;
  }
  
  header {
      background-color: rgb(51 51 51);
  }
  
  footer {
      background-color: rgb(51 51 51);
  }
  
  .main-header-container {
      max-width: 1920px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      width: 800px;
      font-weight: 700;
      color: rgb(231, 231, 231);
  }
  
  .main-header-container img {
      width: 32px;
      height: 32px;
  }
  
  .main-chat-container {
      max-width: 1920px;
      width: 60%;
      margin: 0 auto;
      width: 800px;
  }
  
  .message-container-anie {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  
  .message-container-jack {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  
  .message-container-anie .message {
      margin-left: 20px;
      width: 430px;
      border-radius: 15px 15px 15px 0;
  }
  
  .message-container-jack .message {
      margin-right: 20px;
      width: 430px;
      border-radius: 15px 15px 0 15px;
  }
  
  .message:nth-child(odd){
      background-color: rgb(23 156 222);
  }
  
  .message:nth-child(even){
      background-color: rgb(140 140 140);
  }
  
  .message {
      padding: 15px 25px;
  }
  
  .sender-anie {
      display: flex;
      align-items: center;
  }
  
  .sender-jack {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
  }
  
  .main-chat-container span {
      color: rgb(90, 90, 90);
  }
  
  .main-container-footer {
      display: flex;
      margin: 0 auto;
      gap: 20px;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      background-color: rgb(51 51 51);
  }
  
  .menu a {
      background-color: rgb(51 51 51);
  }
  
  .menu-list li {
      list-style: none;
      position: relative;
      padding: 10px 10px 0 10px;
  }
  
  .sub-menu-list {
      display: none;
      position: absolute;
      left: 0;
      bottom: 40px;
      background-color: rgb(51 51 51);
      border-radius: 20px 20px 0 0;
      animation: menu_animation 0.7s forwards;
  }
  
  .menu-list li:hover .sub-menu-list {
      display: block;
  }
  
  .text-field__input {
      border-radius: 20px;
      border-color: rgb(51 51 51);
      width: 430px;
      padding: 5px 20px;
      margin: 0;
  }
  
  @keyframes menu_animation {
      0% {opacity: 0;}
      100% {opacity: 1;}
  }
  
  @media screen and (max-width: 990px) {
  
      .main-header-container {
          width: 95%;
          align-items: center;
          padding: 5px 0;
      }
  
      .main-chat-container {
          width: 95%;
          justify-content: space-between;
      }
  
      .last-seen {
          display: flex;
          align-items: center;
      }
  
      .last-seen::before {
          content: url('img/avatar_anie.png');
      }
  
      .sender-anie, .sender-jack {
          display: none;
      }
  
      .message-container-anie .message, .message-container-jack .message {
          margin-left: 0;
          margin: 10px 0;
          width: 75%;
      }
  
      .main-container-footer {
          width: 100%;
          align-items: center;
          height: 60px;
      }
  }
  
  @media screen and (max-width: 620px) {
  
      .main-container-footer {
          justify-content: space-around;
      }
      .text-field__input {
          width: 300px
      }
  
      .main-header-container {
          padding: 5px 0;
      }
  
      .main-container-footer {
          height: 60px;
      }
  }
  
  @media screen and (max-width: 480px) {
      .text-field__input {
          width: 200px
      }
  
      .main-header-container {
          padding: 5px 0;
      }
  
      .main-container-footer {
          height: 60px;
      }
  }
  
  @media screen and (max-width: 370px) {
  
      .main-header-container {
          padding: 5px 0;
      }
  
      .main-container-footer {
          height: 60px;
      }
  
      .main-header-container img, .main-container-footer img {
          width: 22px;
          height: 22px;
      }
  
      .text-field__input {
          width: 140px
      }
  }
  
  @font-face {
      font-family: "Comfortaa"; 
      src: url("font/comfortaa.ttf") format("truetype"); 
      font-style: normal; 
      font-weight: normal; 
  }